.active {

    border: black 1px;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.social {
    cursor: pointer;
    align-self: center;
}

.link {
    display: block;
    color: gray;
}

.link:hover {
    cursor: pointer;
    color: black;
    border: black 5px !important;
}

.diplomasContainer {
    padding: 0;
}

.headerImg {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    object-position: 0 50%;
}

.cardImg {
    width: 10rem;
    border-radius: .5rem;
}

.cardImgContainer {
    position: absolute;
    bottom: -1rem;
    left: 2rem;
    border-radius: 1rem;
    padding: .4rem
}

.socialContainer {
    display: flex;
    gap: 2rem;
    height: 100%;
    margin-right: 2rem;
}

@media only screen and (max-width: 1080px) {
    .accessModal {
        width: 95% !important;
    }

    .diplomaItem {
        width: 100% !important;
    }

    .diplomasContainer {
        padding-right: 2rem !important;
    }
}

@media only screen and (max-width: 768px) {

    .contentContainer {
        gap: 0 !important;
    }

    .mobMt1 {
        margin-top: 1rem !important;
    }
    .mobMt2 {
        margin-top: 2rem !important;
    }

    .mobWrap {
        display: flex !important;
        flex-wrap: wrap !important;
    }

    .cardImgContainer {
        position: absolute !important;
        bottom: -2.5rem !important;
        left: 2rem !important;
        border-radius: .5rem !important;
        padding: .2rem !important;
    }

    .cardImg {
        width: 5rem !important;
        border-radius: .5rem !important;
    }

    .headerImg {
        height: 6rem !important;
    }


    .accessModal {
        width: 95% !important;
    }

    .social:nth-of-type(-n + 5) {
        display: none !important;
    }

    .textMd {
        font-size: 1.2rem !important;
    }
    .gap1 {
        gap: 1rem !important;
    }
    .textSm {
        font-size: 1rem !important;
    }
    .textXs {
        font-size: .8rem !important;
    }
    .nameText {
        font-size: 1.25rem !important;
    }
}


@media only screen and (max-width: 1080px) {
    .accessModal {
        width: 95%;
    }

}

@media only screen and (max-width: 768px) {
    .diplomaImg {
        width: 40% !important;
        padding: 1rem !important;
    }

    .diplomasContainer {
        padding: 0 !important;
    }

    .accessModal {
        width: 95%;
    }
    .mobText {
        font-size: 1rem !important;
    }
    .mobMb1 {
        margin-bottom: 1rem !important;
    }
    .mobTextL {
        font-size: 1.5rem !important;
    }
    .mobTextSm {
        font-size: .8rem !important;
    }
    .mobPl2 {
        padding-left: 2rem;
    }
    .mobPl1 {
        padding-left: 1rem;
    }
    .diplomaItem {
        padding: 0 .5rem !important;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}